<div class="recipe_card">
  <h3> <%= @recipe.name%> </h3> 
  <p>
    <ul>
    <% @recipe.quantity.split(",").each do |ingredient|  %> 
      <li><%=ingredient%></li>
    <% end %>
    </ul>
  </p>

  <!-- 
  <% if @recipe.glass == "Unknown glass type" %>
    <img src="images/unknown_glass_type.gif"></img>
  <% else %>
    <img src="images/<%= @recipe.glass.gsub(" ","_").downcase %>.gif"></img>
  <% end %>
  -->
  <p><%= @recipe.procedure%></p>