<div class="recipe_card">
  <h3> <%= @recipe.name%> </h3> 
  <p>
    <ul>
    <% @recipe.quantity.split(",").each do |ingredient|  %> 
      <li><%=ingredient%></li>
    <% end %>
    </ul>
  </p>
  <p><%= @recipe.procedure%></p>

  <p>* 1 oz = 2 tbl spoon </p>
</div>