@charset "UTF-8";
/* CSS Document */

/* Gloabal */

body {/*background-image:url(../images/header.jpg)*/ background-color:#070709; font-family: Verdana, Arial, Helvetica, sans-serif;}
h1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:1.5em; color:#330033;}
h2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:1.0em; color:#ffffff;}

.clear {clear: both;}

#wrapper {width: 960px; margin: 0 auto; background-color: #070709; border: 2px solid #727274; }
#banner_top {background-image:url(../images/header3.jpg); margin: 0; height: 171px;}
#search_wrap {float:right; height: 25px; width: 330px; margin: 10px 10px 0 0;}
#your_shelf {color: #ffffff;}

#nav {background: url(../images/a_bg.gif) repeat-x; width: 845px;
height: 40px; margin: 15px 0 10px 60px;}

ul#topnav {
	margin:0 0 0 20px;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
ul#topnav li{
	margin: 0;
	padding: 0;
	overflow: hidden;  /*--Important - Masking out the hover state by default--*/
	float: left;
	height:39px;
}


ul#topnav a, ul#topnav span { /*--The <a> and <span> share the same properties since the <span>  will be a duplicate of the <a> tag--*/
	padding: 10px 15px;
	float: left;
	text-decoration: none;
	color: #fff;
	background: url(../images/a_bg.gif) repeat-x;
	clear: both;
	width: 90%;
	height: 20px;
	line-height: 20px; /*--Vertical alignment of text--*/
}

ul#topnav span .active {color: #FFFF00; }

ul#topnav a{ /*--This is basically the hover state of navigation--*/
	color: #555;
	background-position: left bottom;
}
ul#topnav span{ /*--Default state of navigation--*/
	background-position: left top;
}
#add_ingredients {width: 960px; height: 111px; margin: 0 0 0 0;background-image: url(../images/add_ingredient_bg.jpg); background-repeat:no-repeat; padding: 0 0 0 0;}
#add_text{float: left; height: 25px width: 300px; color: #FFFFFF; font-size: 16px;margin: 0 0 0 370px;}
#ingredients {min-height:75px; width:800px;margin:0 0 0 0;padding:5px 0 0 0;}
#ingredients ul {padding-left: 5px;}
#ingredients li {width: 210px; height: 25px; padding:10px; margin: 5px 5px 5px 5px;
                 float: left; list-style-type:none; background-image: url(../images/ingredient_bg.jpg); background-repeat:repeat-x; border-style:solid; border-width: 1px;border-color: #575555;}
/* #ingredients a {color: #8c1c1c;} */
/*#ingredients a*/
.remove_ingredient  {background:url(../images/x.png) no-repeat;  /*position:relative; right:10px; 
	bottom:45px;*/ float: right; text-decoration: none; z-index: 1000;padding: 0 4px 5px 0; height: 20px; width: 20px;}

.drink_name {color: #FFFFFF;}
#recipes {color: #FFFFFF; min-height:150px; width:800px; padding: 10px 0 0 10px;}
#recipes li {list-style-type:none;}
#recipes a {color: #ffffff;}

#recipes-description {height: 60px; width: 375px; margin:5px 0 5px 0; padding: 10px 0 0 0;font-weight: bold;}

.contact_us {color: #FFFFFF; min-height:150px; width:800px; padding: 10px 0 0 10px;}
.contact_us a {color: #ffffff;}

#bottom_bg {background-image: url(../images/bottom.jpg); background-repeat: repeat-y;  min-height: 300px; width: 920px;padding: 0 20px 0 65px;}

#footer {background-image: url(../images/footer.jpg); background-repeat:no-repeat; height: 36px; width: 960px; margin: 0 0 20px 0;}
