
<% form_for(@ingredient) do |f| %>
  <%= f.text_field :name, :autocomplete =>"off", :size => nil %> 
<% end %>
<h2>Ingredients</h2>
<div id="ingredients"><ul></ul></div>

<h2>Recipes</h2>
<ol id="recipes"></ol>

