
<% form_for(@ingredient) do |f| %>
  <%= f.text_field :name, :autocomplete =>"off", :size => nil %> 
<% end %>

<h2>Ingredients</h2>
<ul id="ingredients"></ul>

<h2>Recipes</h2>
<ul id="recipes"></ul>

