<div id="add_text"><p>Add your ingredients</p></div>
<div id="search_wrap">
  <% @ingredient = Ingredient.new%>
  <% form_for(@ingredient) do |f| %>
    <%= f.text_field :name, :autocomplete =>"off", :size => nil %> 
    <input type=checkbox name="show_all" checked> 
  <% end %>
</div><!--end search wrap-->