<% content_for :search_bar do %>
  <%= render :partial => 'search_bar' %>
<% end %>
<div id="filter_results">
  <div id="check"><input type=checkbox name="show_all" checked></div>
  <div id="exact">Uncheck to only show drinks with exact ingredients</div>
</div>
<div class="clear"></div>
<div id="ingredients"><ul></ul></div>
<div class="clear"></div>
<div id="recipes"></div>