<div id="wrapper">
    	<div id="banner_top">
        <div id="search_wrap">
          <% form_for(@ingredient) do |f| %>
            <%= f.text_field :name, :autocomplete =>"off", :size => nil %> 
          <% end %>
        </div><!--end search wrap-->
     <div class="clear"></div>
     <div id="nav">

       <ul id="topnav">
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Top Voted</a></li>
          <li><a href="#">Recently Added</a></li>
          <li><a href="#">View By Ingredient</a></li>
          <li><a href="#">My Stuff</a></li>

          <!--<li><a href="#">Add New Drink</a></li>-->
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
    </ul>
   </div><!--end nav-->
      </div><!--end banner top-->
    <div id="clear"></div>
    <a id="calculate">Calculate</a>
    <div id="ingredients">
      
    </div>
    <div id="recipes">
    </div>
    <div id="bottom_bg">  
    </div><!--end bottom_bg--> 
    <div id="footer"></div><!--end footer-->

</div><!--end wrapper-->

